.btn {
  padding-right: 37px;
  padding-left: 37px;
  border-radius: 22px;
  border: none;
  outline: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  display: flex;
  align-items: center;
  text-align: center;

  cursor: pointer;

  transition: background-color $animation-time $animation-function;
}

.btn--primary {
  background-color: var(--primary-btn-background-color);
  color: var(--secondary-btn-background-color);

  &:hover,
  &:focus {
    background-color: var(--primary-btn-backg-color-hover);
  }
}

.btn--secondary {
  background-color: var(--secondary-btn-background-color);
  color: var(--primary-btn-background-color);

  &:hover,
  &:focus {
    background-color: var(--secondary-btn-backg-color-hover);
  }
}
