.contacts .carousel {
  margin-bottom: 50px;
}

.products .flickity-page-dots {
  bottom: -50px;
}

.hidden-sm-and-up {
  @include for-tablet-up {
    display: none;
  }
}

.hidden-xs-only {
  @include for-phone-only {
    display: none;
  }
}

.carousel-cell {
  width: 66%;
  min-height: 100%;
  margin-right: 10px;
}

.carousel-cell:before {
  text-align: center;
  content: '';
  line-height: 200px;
  font-size: 80px;
  color: var(--product-card-background-color-first);
}

.flickity-viewport {
  overflow-x: clip;
  overflow-y: initial;
  // height: 485px !important;
}

.products .container {
  @media screen and (min-width: $mobile-width) and (max-width: $tablet-width - 1) {
    width: 100%;
  }
}

.flickity-page-dots .is-selected {
  background: var(--product-card-background-color-first);
}

.flickity-button {
  color: var(--primary-section-title-color);
  background: none;
  width: 30px;
  height: 30px;

  &:hover {
    background: none;
  }
}

.flickity-prev-next-button,
.flickity-prev-next-button {
  width: 30px;
  height: 30px;
}
