:root {
  --column-gap: 30px;
  --column-tablet-gap: 20px;
  --animation-time: 250ms;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
  --mobile-width: 480px;
  --tablet-width: 768px;
  --desktop-width: 1200px;
  --container-width: 1050px;
  --main-font: 'Roboto', sans-serif;
  --primary-section-title-color: #d41443;
  --secondary-section-title-color: #ffa5ba;
  --secondary-section-title-color-hero: #ffffff;
  --block-title-color: #000000;
  --primary-text-color: #907e82;
  --secondary-text-color: #ffffff;
  --secondary-text-color-accent: #ffa5ba;
  --primary-background-color: #ffffff;
  --secondary-background-color: #fff5f6;
  --hero-primary-background-color: #ffb8ca;
  --hero-secondary-background-color: #ffa5ba;
  --slider-backg-color: #fafafa;
  --product-card-background-color-first: #ffb8ca;
  --product-card-background-color-second: #f0d1a5;
  --product-card-background-color-third: #c2e297;
  --primary-block-title-background-color: #f0d1a5;
  --primary-block-title-background-color: #c2e297;
  --primary-btn-background-color: #ffffff;
  --secondary-btn-background-color: #d41443;
  --primary-btn-backg-color-hover: #ecebeb;
  --secondary-btn-backg-color-hover: #c7133e;
  --social-btn-backg-color: #fea5bb;
  --social-btn-backg-color-hover: #d41443;
  --slider-icon-color: #d31342;
  --slider-dots-color: #c7133e;
  --primary-font-family: 'DM Sans', sans-serif;
  --secondary-font-family: 'Titan One', sans-serif;
  --primary-section-title-size: 58px;
  --secondary-section-title-size: 30px;
  --secondary-section-title-size-hero: 38px;
  --primary-text-size: 16px;
  --secondary-text-size: 14px;
}

@font-face {
  font-family: 'TitanOne';
  src: url(../fonts/titanone-regular.ttf) format("ttf"), url(../fonts/titanone-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url(../fonts/dmsans-regular.ttf) format("ttf"), url(../fonts/dmsans-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium';
  src: url(../fonts/dmsans-medium.ttf) format("ttf"), url(../fonts/dmsans-medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold';
  src: url(../fonts/dmsans-bold.ttf) format("ttf"), url(../fonts/dmsans-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif, sans-serif;
  color: var(--primary-text-color);
}

body.modal-open {
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--primary-section-title-color);
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.page-container__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  z-index: 0;
}

.container {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: var(--mobile-width) 0) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: var(--tablet-width) 0) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: var(--desktop-width)) {
  .container {
    width: 1200px;
  }
}

.hero-header {
  color: rebeccapurple;
}

.products {
  color: greenyellow;
}

.about {
  color: red;
}

.advantages {
  color: green;
}

.gallery {
  color: #190f49;
}

.customer-reviews {
  color: yellow;
}

.contacts {
  color: blue;
}

.footer {
  color: indigo;
}
/*# sourceMappingURL=main.css.map */