//template variables
$column-gap: 30px;
$column-tablet-gap: 20px;
$animation-time: 250ms;
$animation-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px; // check this value

$container-width: 1050px;

$main-font: 'Roboto', sans-serif;
//end template variables
//other variables could be changed or deleted

$logo-font: 'Raleway', sans-serif;

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-white-color: rgba($primary-white-color, 0.6);
$secondary-bg-color: #2f303a;
$shadow-bg-color: #f5f4fa;
$icons-color: #afb1b8;
$black-color: #000000;
$standart-shadow: 0px 1px 3px rgba($black-color, 0.12), 0px 1px 1px rgba($black-color, 0.14),
  0px 2px 1px rgba($black-color, 0.2);
$gradient-color: rgba(47, 48, 58, 0.4);
