<section id="advantages" class="advantages">
    <h2 class="visually-hidden">Наши преимущества</h2>
    <div class="container advantages__container">
        <ul class="advantages-list">

            <li class="advantages-list__item advantages-list__item--milk">
                <h3 class="advantages-list__title">721</h3>
                <p class="advantages-list__text text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantages-list__item advantages-list__item--fruits">
                <h3 class="advantages-list__title">16KG</h3>
                <p class="advantages-list__text text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="advantages-list__item advantages-list__item--heart">
                <h3 class="advantages-list__title">84</h3>
                <p class="advantages-list__text text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>

    </div>


</section>
