<section id="contacts" class="contacts">
  <h2 class="title visually-hidden">Contacts</h2>
  <div class="container">
    <div class="contacts__container">
      <ul class="contacts__content text">
        <li class="">
          <div class="contacts__subtitle-holder contacts__subtitle-holder--primary">
            <p class="contacts__subtitle">CAFE</p>
          </div>
          <p class="contacts__text contacts__text--primary">Chicago</p>
          <p class="contacts__text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
        <div class="contacts__item">
          <li class="contacts__item-row">
            <p class="contacts__text contacts__text--primary">Monday - Friday</p>
            <p class="contacts__text contacts__text--accent">06:00 AM - 10:00 PM</p>
          </li>
          <li class="">
            <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
            <p class="contacts__text contacts__text--accent">08:00 AM - 16:00 PM</p>
          </li>
        </div>
        <li class="">
          <address class="contacts__address link">
            <a class="link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </address>
        </li>
      </ul>
    </div>
  </div>
</section>
