<section id="contacts" class="contacts">
  <h2 class="title visually-hidden">Contacts</h2>

  <div class="carousel hidden-sm-and-up" data-flickity='{ "wrapAround": true }'>
    <div class="carousel-cell contacts__content text">
      <div class="contacts__subtitle-holder contacts__subtitle-holder--primary">
        <p class="contacts__subtitle">CAFE</p>
      </div>
      <p class="contacts__text contacts__text--primary">Chicago</p>
      <p class="contacts__text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="contacts__item">
        <div class="contacts__item-row">
          <p class="contacts__text contacts__text--primary">Monday - Friday</p>
          <p class="contacts__text contacts__text--accent">06:00 AM - 10:00 PM</p>
        </div>
        <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
        <p class="contacts__text contacts__text--accent">08:00 AM - 16:00 PM</p>
      </div>
      <address class="contacts__address contacts__link">
        <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </address>
    </div>

    <div class="carousel-cell contacts__content text">
      <div class="contacts__subtitle-holder contacts__subtitle-holder--secondary">
        <p class="contacts__subtitle">FOODTRUCK</p>
      </div>
      <p class="contacts__text contacts__text--primary">Los Angeles</p>
      <p class="contacts__text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="contacts__item">
        <div class="contacts__item-row">
          <p class="contacts__text contacts__text--primary">Monday - Friday</p>
          <p class="contacts__text contacts__text--accent">06:00 AM - 10:00 PM</p>
        </div>
        <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
        <p class="contacts__text contacts__text--accent">08:00 AM - 16:00 PM</p>
      </div>
      <address class="contacts__address contacts__link">
        <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </address>
    </div>

    <div class="carousel-cell contacts__content text">
      <div class="contacts__subtitle-holder contacts__subtitle-holder--primary">
        <p class="contacts__subtitle">CAFE</p>
      </div>
      <p class="contacts__text contacts__text--primary">New York</p>
      <p class="contacts__text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      <div class="contacts__item">
        <div class="contacts__item-row">
          <p class="contacts__text contacts__text--primary">Monday - Friday</p>
          <p class="contacts__text contacts__text--accent">06:00 AM - 10:00 PM</p>
        </div>
        <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
        <p class="contacts__text contacts__text--accent">08:00 AM - 16:00 PM</p>
      </div>
      <address class="contacts__address contacts__link">
        <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
      </address>
    </div>
  </div>

  <div class="container contacts__container hidden-xs-only">
    <ul class="contacts__list-items">
      <li class="contacts__content text">
        <div class="contacts__subtitle-holder contacts__subtitle-holder--primary">
          <p class="contacts__subtitle">CAFE</p>
        </div>
        <p class="contacts__text contacts__text--primary">Chicago</p>
        <p class="contacts__text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__item">
          <div class="contacts__item-row">
            <p class="contacts__text contacts__text--primary">Monday - Friday</p>
            <p class="contacts__text contacts__text--accent">06:00 AM - 10:00 PM</p>
          </div>
          <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
          <p class="contacts__text contacts__text--accent">08:00 AM - 16:00 PM</p>
        </div>
        <address class="contacts__address contacts__link">
          <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts__content text">
        <div class="contacts__subtitle-holder contacts__subtitle-holder--secondary">
          <p class="contacts__subtitle">FOODTRUCK</p>
        </div>
        <p class="contacts__text contacts__text--primary">Los Angeles</p>
        <p class="contacts__text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__item">
          <div class="contacts__item-row">
            <p class="contacts__text contacts__text--primary">Monday - Friday</p>
            <p class="contacts__text contacts__text--accent">06:00 AM - 10:00 PM</p>
          </div>
          <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
          <p class="contacts__text contacts__text--accent">08:00 AM - 16:00 PM</p>
        </div>
        <address class="contacts__address contacts__link">
          <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
      <li class="contacts__content text">
        <div class="contacts__subtitle-holder contacts__subtitle-holder--primary">
          <p class="contacts__subtitle">CAFE</p>
        </div>
        <p class="contacts__text contacts__text--primary">New York</p>
        <p class="contacts__text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__item">
          <div class="contacts__item-row">
            <p class="contacts__text contacts__text--primary">Monday - Friday</p>
            <p class="contacts__text contacts__text--accent">06:00 AM - 10:00 PM</p>
          </div>
          <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
          <p class="contacts__text contacts__text--accent">08:00 AM - 16:00 PM</p>
        </div>
        <address class="contacts__address contacts__link">
          <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </address>
      </li>
    </ul>
  </div>

  <div class="contacts__btn-wrapper">
    <button
      data-target="modal-location"
      data-toggle="modal"
      class="btn btn--secondary contacts__btn contacts__btn--secondary"
      type="button"
    >
      <span class="contacts__btn-text">Our Locations</span>
      <svg class="contacts__btn-icon" width="10" height="20">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <div id="modal-location" class="modal">
      <div class="modal-window">
        <button type="button" class="modal-window__close" aria-label="close" data-dismiss="modal">
          <svg
            class="modal-window__icon"
            data-dismiss="modal"
            width="14"
            height="14"
            aria-hidden="true"
          >
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <iframe
          class="contacts__modal-map"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d423283.43553945835!2d-118.6919203!3d34.0207305!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2skz!4v1623187694191!5m2!1sen!2skz"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
        <div class="modal-location__wrap"></div>
      </div>
    </div>
    <button
      class="btn btn--primary contacts__btn contacts__btn--primary"
      type="button"
      data-target="modal-franchise"
      data-toggle="modal"
    >
      <span class="contacts__btn-text">Franchise</span>
      <svg class="contacts__btn-icon" width="10" height="20">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <div id="modal-franchise" class="modal">
      <div class="modal-window">
        <button type="button" class="modal-window__close" aria-label="close" data-dismiss="modal">
          <svg
            class="modal-window__icon"
            data-dismiss="modal"
            width="14"
            height="14"
            aria-hidden="true"
          >
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
        <h3 class="title title--primary">Contact us</h3>
        <form>
          <div class="contacts__contact-form">
            <label>
              <span class="contacts__form-text text">Name</span>
              <input type="text" name="user-name" autocomplete="off" class="contacts__form-field" />
              <svg class="contacts__icon-svg">
                <use href="./images/icon-modal.svg#icon-person-black"></use>
              </svg>
            </label>
          </div>
          <div class="contacts__contact-form">
            <label>
              <span class="contacts__form-text text">Phone number</span>
              <input type="tel" name="user-phone" autocomplete="off" class="contacts__form-field" />
              <svg class="contacts__icon-svg">
                <use href="./images/icon-modal.svg#icon-phone-black"></use>
              </svg>
            </label>
          </div>
          <div class="contacts__contact-form">
            <label>
              <span class="contacts__form-text text">Email</span>
              <input
                type="email"
                name="user-email"
                autocomplete="off"
                class="contacts__form-field"
              />
              <svg class="contacts__icon-svg">
                <use href="./images/icon-modal.svg#icon-email-black"></use>
              </svg>
            </label>
          </div>
          <label>
            <span class="contacts__form-text text">Message</span>
            <textarea
              class="contacts__form-field contacts__form-message"
              name="user-message"
              placeholder="Type text"
            ></textarea>
          </label>
          <button class="btn btn--secondary contacts__btn contacts__modal-btn" type="submit">
            <span class="contacts__btn-text">Send</span>
            <svg class="contacts__btn-icon" width="10" height="20">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </form>
        <div class="modal-location__wrap"></div>
      </div>
    </div>
  </div>
</section>
