<section id="customer-reviews" class="customer-reviews">
  <div class="container customer-reviews__container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <img
      src="./images/reviews/curly-woman.jpg"
      alt="Curly woman"
      width="85"
      class="customer-reviews__image"
    />
    <div class="customer-reviews__text-wrap">
      <div class="customer-reviews__gradient-wrap">
        <p class="customer-reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
        </p>
      </div>
    </div>
    <p class="customer-reviews__adress">Emily, Los Angeles</p>
    <div class="customer-reviews__icon-wrap">
      <svg class="customer-reviews__icon-home" width="12px" height="12px">
        <use href="./images/icons.svg#icon-home"></use>
      </svg>
      <svg class="customer-reviews__icon-circle" width="12px" height="12px">
        <use href="./images/icons.svg#icon-circle"></use>
      </svg>
      <svg class="customer-reviews__icon-circle" width="12px" height="12px">
        <use href="./images/icons.svg#icon-circle"></use>
      </svg>
    </div>
  </div>
</section>
