<section id="customer-reviews" class="customer-reviews">
  <div class="container customer-reviews__container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <div class="slider">
      <a class="slider__prev sliderPrev">&#10094;</a>
      <div class="slider__item">
        <img
          src="./images/reviews/olya.jpg"
          alt="Woman in the yard"
          width="85"
          class="customer-reviews__image"
        />
        <div class="customer-reviews__text-wrap">
          <div class="customer-reviews__gradient-wrap">
            <p class="customer-reviews__text">
              Olya is our Teamlead. She did a huge amount of work, in particular section "Gallery",
              modal windows, main structure of project and many many reviews :)
            </p>
          </div>
        </div>
        <p class="customer-reviews__address">Olya, Kharkiv</p>
      </div>
      <div class="slider__item">
        <img
          src="./images/reviews/dima.jpg"
          alt="Man in glasses"
          width="85"
          class="customer-reviews__image"
        />
        <div class="customer-reviews__text-wrap">
          <div class="customer-reviews__gradient-wrap">
            <p class="customer-reviews__text">
              Dima worked on section "Products" and made a good-quality product with interesting js
              animation like slider for Products & Contacts in mobile version:)
            </p>
          </div>
        </div>
        <p class="customer-reviews__address">Dima, Dnipro</p>
      </div>
      <div class="slider__item">
        <img
          src="./images/reviews/alisa.jpg"
          alt="Woman with baby"
          width="85"
          class="customer-reviews__image"
        />
        <div class="customer-reviews__text-wrap">
          <div class="customer-reviews__gradient-wrap">
            <p class="customer-reviews__text">
              Alisa did a lot of excellent work with section "About" and also wrote base styles for
              our project.
            </p>
          </div>
        </div>
        <p class="customer-reviews__address">Alisa, Zaporizhia</p>
      </div>
      <div class="slider__item">
        <img
          src="./images/reviews/andriy.jpg"
          alt="Man in office"
          width="85"
          class="customer-reviews__image"
        />
        <div class="customer-reviews__text-wrap">
          <div class="customer-reviews__gradient-wrap">
            <p class="customer-reviews__text">
              Andriy is our Scrum master. Thanks to him, the daily standup turned into convenient
              and useful pastime for our team. Section "Advantages" is his merit too :)
            </p>
          </div>
        </div>
        <p class="customer-reviews__address">Andriy, Kyiv</p>
      </div>
      <div class="slider__item">
        <img
          src="./images/reviews/maryana.jpg"
          alt="Woman in dress"
          width="85"
          class="customer-reviews__image"
        />
        <div class="customer-reviews__text-wrap">
          <div class="customer-reviews__gradient-wrap">
            <p class="customer-reviews__text">
              Marianna wrote code for our Footer, created modal window "Buy now" and made sprite for
              svg icons. High level!
            </p>
          </div>
        </div>
        <p class="customer-reviews__address">Marianna, Uzhhorod</p>
      </div>
      <div class="slider__item">
        <img
          src="./images/reviews/misha.jpg"
          alt="Man in glasses"
          width="85"
          class="customer-reviews__image"
        />
        <div class="customer-reviews__text-wrap">
          <div class="customer-reviews__gradient-wrap">
            <p class="customer-reviews__text">
              Misha's scope of work included Hero Header, adding animation on all this and making
              html/sass partials for our project. Good job, isn't it?)
            </p>
          </div>
        </div>
        <p class="customer-reviews__address">Misha, Dnipro</p>
      </div>
      <div class="slider__item">
        <img
          src="./images/reviews/vika.jpg"
          alt="Woman and stones"
          width="85"
          class="customer-reviews__image"
        />
        <div class="customer-reviews__text-wrap">
          <div class="customer-reviews__gradient-wrap">
            <p class="customer-reviews__text">
              Vika did Burger menu and favicon. As well, all images passed through her careful
              preparation :)
            </p>
          </div>
        </div>
        <p class="customer-reviews__address">Vika, Torrevieja</p>
      </div>
      <div class="slider__item">
        <img
          src="./images/reviews/taras.jpg"
          alt="Man in black"
          width="85"
          class="customer-reviews__image"
        />
        <div class="customer-reviews__text-wrap">
          <div class="customer-reviews__gradient-wrap">
            <p class="customer-reviews__text">
              Taras worked on section "Customer-reviews" and made this slider with js :)
            </p>
          </div>
        </div>
        <p class="customer-reviews__address">Taras, Lviv</p>
      </div>
      <div class="slider__item">
        <img
          src="./images/reviews/hanna.jpg"
          alt="Woman with coffee"
          width="85"
          class="customer-reviews__image"
        />
        <div class="customer-reviews__text-wrap">
          <div class="customer-reviews__gradient-wrap">
            <p class="customer-reviews__text">
              Hanna's work included section "Contacts" and she wrote styles for common classes.
              Looks great!
            </p>
          </div>
        </div>
        <p class="customer-reviews__address">Hanna, Shymkent</p>
      </div>
      <a class="slider__next sliderNext">&#10095;</a>
    </div>
    <div class="customer-reviews__icon-wrap">
      <div class="slider-dots">
        <span class="slider-dots__item customer-reviews__icon dots" data-number="1"> </span>
        <span class="slider-dots__item customer-reviews__icon dots" data-number="2"> </span>
        <span class="slider-dots__item customer-reviews__icon dots" data-number="3"> </span>
        <span class="slider-dots__item customer-reviews__icon dots" data-number="4"> </span>
        <span class="slider-dots__item customer-reviews__icon dots" data-number="5"> </span>
        <span class="slider-dots__item customer-reviews__icon dots" data-number="6"> </span>
        <span class="slider-dots__item customer-reviews__icon dots" data-number="7"> </span>
        <span class="slider-dots__item customer-reviews__icon dots" data-number="8"> </span>
        <span class="slider-dots__item customer-reviews__icon dots" data-number="9"> </span>
      </div>
    </div>
  </div>
</section>
