<footer id="footer" class="footer">
  <div class="footer__container container">
    <div class="footer__heading">
      <p class="footer__heading-secondary">homemade ice cream made</p>
      <p class="footer__heading-primary">with passion</p>
    </div>
    <div class="footer__contacts">
      <ul class="footer__socials">
        <li class="footer__socials-item">
          <a
            class="social-icon"
            href="https://github.com/izachok/icecream-project"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon__svg">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__socials-item">
          <a
            class="social-icon"
            href="https://web.telegram.org/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon__svg">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__socials-item social">
          <a
            class="social-icon"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="social-icon__svg">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__tel">
        Feel free to contact
        <a href="tel:+61(0)383766284" class="footer__tel-link"> +61 (0) 383 766 284</a>
      </p>
    </div>
  </div>

  <div class="footer__copyright">
    <p>&copy; 2019 - IceCream.</p>
    <p>All Rights Reserved.</p>
  </div>
</footer>
