<header id="hero-header" class="hero-header">
  <div class="container hero-header__container">
    <div class="top-panel">
      <a href="./index.html" class="logo">
        <img src="./images/logo/logo.png" width="199" height="50" alt="logo ice cream" />
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link nav__link--current" href="./index.html">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#advantages">About us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#about">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#products">Our products</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">Contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="btn top-panel__btn" aria-expanded="false" data-menu-button>
        <svg
          width="20"
          height="12"
          class="top-panel__icon-menu"
          aria-label="Переключатель мобильного меню"
        >
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>

      <button
        type="button"
        class="btn top-panel__btn-buy"
        data-target="modal-hero"
        data-toggle="modal"
      >
        <span class="top-panel__btn-buy--indent">Buy now</span
        ><svg width="8" height="18" class="top-panel__icon-menu">
          =======

          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>

      <!-- Мобильное меню -->
      <div class="backdrop">
        <div class="mobile-menu__container" data-menu>
          <div class="mobile-menu">
            <button class="mobile-menu__btn-close" data-menu-button>
              <svg class="mobile-menu__icon-close">
                <use href="images/icons.svg#icon-close"></use>
              </svg>
            </button>
            <div class="button-container">
              <button
                type="button"
                class="btn btn--primary mobile-menu__btn-buy"
                data-target="modal-hero"
                data-toggle="modal"
              >
                <span class="mobile-menu__btn-buy--mobile">Buy now</span
                ><svg width="8" height="18" class="top-panel__icon-menu">
                  <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
            <ul class="mobile-menu__list">
              <li class="mobile-menu__item">
                <a href="./index.html" class="mobile-menu__link" data-menu-button>Home</a>
              </li>
              <li class="mobile-menu__item">
                <a href="#reviews" class="mobile-menu__link" data-menu-button>About us</a>
              </li>
              <li class="mobile-menu__item">
                <a href="#about" class="mobile-menu__link" data-menu-button>How it’s made?</a>
              </li>
              <li class="mobile-menu__item">
                <a href="#products" class="mobile-menu__link" data-menu-button>Our products</a>
              </li>
              <li class="mobile-menu__item">
                <a href="#contacts" class="mobile-menu__link" data-menu-button>Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- --- -->

      <div class="decoration">
        <div class="decoration__ellipse animate__animated animate__backInDown"></div>
        <picture>
          <source
            srcset="
              ./images/desktop/ice-cream-cone_desktop.webp    1x,
              ./images/desktop/ice-cream-cone@2x_desktop.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/ice-cream-cone_tablet.webp    1x,
              ./images/tablet/ice-cream-cone@2x_tablet.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/mobile/ice-cream-cone_mobile.webp    1x,
              ./images/mobile/ice-cream-cone@2x_mobile.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/ice-cream-cone_desktop.png    1x,
              ./images/desktop/ice-cream-cone@2x_desktop.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/ice-cream-cone_tablet.png    1x,
              ./images/tablet/ice-cream-cone@2x_tablet.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/mobile/ice-cream-cone_mobile.png    1x,
              ./images/mobile/ice-cream-cone@2x_mobile.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img
            src="./images/mobile/ice-cream-cone_mobile.png"
            alt="icecream"
            width="171"
            height="410"
            class="decoration__icecream-cone animate__animated animate__backInUp"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/desktop/so-tasty_desktop.webp    1x,
              ./images/desktop/so-tasty@2x_desktop.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/so-tasty_tablet.webp    1x,
              ./images/tablet/so-tasty@2x_tablet.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/tablet/so-tasty_tablet.webp    1x,
              ./images/tablet/so-tasty@2x_tablet.webp 2x
            "
            media="(max-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/desktop/so-tasty_desktop.png    1x,
              ./images/desktop/so-tasty@2x_desktop.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/tablet/so-tasty_tablet.png    1x,
              ./images/tablet/so-tasty@2x_tablet.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="./images/tablet/so-tasty_tablet.png"
            alt="so-tasty"
            width="168"
            height="133"
            class="decoration__so-tasty animate__animated animate__backInRight"
          />
        </picture>
        <div class="decoration__circle"></div>
        <p class="decoration__number">16</p>
        <p class="decoration__text">cafes</p>
        <div class="decoration__circle decoration__circle--position"></div>
        <p class="decoration__number decoration__number--position">23</p>
        <p class="decoration__text decoration__text--position">food trucks</p>
      </div>
    </div>
    <section class="hero">
      <h1 class="title hero__title">
        ice cream <br />
        made with <br />
        <span class="hero__title--accent">passion</span>
      </h1>
      <ul class="hero__btn">
        <li class="hero__item">
          <a href="#products" class="hero__link btn--secondary">Products</a>
        </li>
        <li class="hero__item hero__item--indent">
          <a href="#about" class="hero__link btn--primary">How it’s made?</a>
        </li>
      </ul>
      <div class="hero__block animate__animated animate__backInLeft">
        <picture>
          <source
            srcset="./images/desktop/milk_desktop.webp 1x, ./images/desktop/milk@2x_desktop.webp 2x"
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="./images/tablet/milk_tablet.webp 1x, ./images/tablet/milk@2x_tablet.webp 2x"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="./images/desktop/milk_desktop.png 1x, ./images/desktop/milk@2x_desktop.png 2x"
            media="(min-width: 1200px)"
            type="image/png"
          />
          <source
            srcset="./images/tablet/milk_tablet.png 1x, ./images/tablet/milk@2x_tablet.png 2x"
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="./images/tablet/milk_tablet.png"
            alt="milk"
            width="124"
            height="126"
            class="block__milk"
          />
        </picture>

        <div class="hero-block--position">
          <p class="hero__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <div class="btn description__btn">
            <a href="#about">
              <svg width="8" height="8" class="description__icon">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>
