<header id="hero-header" class="hero-header">
  <div class="container">
    <div class="top-panel">
      <img src="./images/logo/logo.png" width="199" height="50" alt="logo icecream" />
      <button type="button" class="btn top-panel__btn" aria-expanded="false" data-menu-button>
        <svg
          width="20"
          height="12"
          class="top-panel__icon-menu"
          aria-label="Переключатель мобильного меню"
        >
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <button type="button" class="btn top-panel__btn-buy">
        <span class="top-panel__btn-buy--indent">Buy now</span
        ><svg width="8" height="18" class="top-panel__icon-menu">
          <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
      </button>
      <div class="decoration">
        <div class="decoration__ellipse"></div>
        <img
          src="./images/mobile/ice-cream-cone_mobile.png"
          alt="icecream"
          width="171"
          height="410"
          class="decoration__icecream-cone"
        />
      </div>
    </div>
    <section class="hero">
      <h1 class="title hero__title">
        ice cream <br />
        made with <br />
        <span class="hero__title--accent">passion</span>
      </h1>
      <ul class="hero__btn">
        <li class="hero__item">
          <a href="#products" class="link hero__link">Products</a>
        </li>
        <li class="hero__item hero__item--indent">
          <a href="#about" class="link hero__link hero__link--color">How it’s made?</a>
        </li>
      </ul>
      <div>
        <img src="./images/tablet/milk_tablet.png" alt="milk" width="124" height="126" />
      </div>
    </section>
  </div>
</header>
