<div class="mobile-menu__container" data-menu>
    <div class="button-container">
        <button type="button" class="btn mobile-menu__btn-buy">
            <span class="mobile-menu__btn-buy--mobile">Buy now</span><svg width="8" height="18" class="top-panel__icon-menu">
                <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>
    <nav>
        <ul class="mobile-menu__navigation">
            <li class="mobile-menu__item">
                <a class="link mobile-menu__link" href="./index.html">Home</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#reviews" class="link mobile-menu__link">About us</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#about" class="link mobile-menu__link">How it’s made?</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#products" class="link mobile-menu__link">Our products</a>
            </li>
            <li class="mobile-menu__item">
                <a href="#contacts" class="link mobile-menu__link">Contact</a>
            </li>
        </ul>
    </nav>
</div>