<!-- modal for Hero Buy now -->
<div id="modal-hero" class="modal">
  <div class="modal-window">
    <button type="button" class="modal-window__close" aria-label="close" data-dismiss="modal">
      <svg
        class="modal-window__icon"
        data-dismiss="modal"
        width="14"
        height="14"
        aria-hidden="true"
      >
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- add markup for hero modal here -->
    <div class="modal-hero__wrap">
      <p>Modal for click on Buy now on Hero</p>
    </div>
  </div>
</div>
