<!-- examples of buttons for modals -->
<!-- <button data-target="modal-hero" data-toggle="modal">Hero Buy now</button>
<button data-target="modal-about" data-toggle="modal">About Read more</button>
<button data-target="modal-location" data-toggle="modal">Contacts Our locations</button>
<button data-target="modal-franchise" data-toggle="modal">Contacts Franchise</button> -->

<!-- modal for Hero Buy now -->
<div id="modal-hero" class="modal">
  <div class="modal-window">
    <button type="button" class="modal-window__close" aria-label="close" data-dismiss="modal">
      <svg
        class="modal-window__icon"
        data-dismiss="modal"
        width="14"
        height="14"
        aria-hidden="true"
      >
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- add markup for hero modal here -->
    <div class="modal-hero__wrap">
      <p>Modal for click on Buy now on Hero</p>
    </div>
  </div>
</div>

<!-- modal for About Read more -->
<div id="modal-about" class="modal">
  <div class="modal-window">
    <button type="button" class="modal-window__close" aria-label="close" data-dismiss="modal">
      <svg
        class="modal-window__icon"
        data-dismiss="modal"
        width="14"
        height="14"
        aria-hidden="true"
      >
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- add markup for about modal here -->
    <div class="modal-about__wrap">
      <p>Modal for click on Read more in About</p>
    </div>
  </div>
</div>

<!-- modal for Contacts Our locations -->
<div id="modal-location" class="modal">
  <div class="modal-window">
    <button type="button" class="modal-window__close" aria-label="close" data-dismiss="modal">
      <svg
        class="modal-window__icon"
        data-dismiss="modal"
        width="14"
        height="14"
        aria-hidden="true"
      >
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- add markup for locations modal here -->
    <div class="modal-location__wrap">
      <p>Modal for click on Our Locations in Contacts</p>
    </div>
  </div>
</div>

<!-- modal for Contacts Franchise -->
<div id="modal-franchise" class="modal">
  <div class="modal-window">
    <button type="button" class="modal-window__close" aria-label="close" data-dismiss="modal">
      <svg
        class="modal-window__icon"
        data-dismiss="modal"
        width="14"
        height="14"
        aria-hidden="true"
      >
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <!-- add markup for Franchise modal here -->
    <div class="modal-location__wrap">
      <p>Modal for click on Franchise in Contacts</p>
    </div>
  </div>
</div>
