<section class="products container" id="products">
  <p class="products__label">100% natural</p>
  <h2 class="products__title">products</h2>

  <ul class="products__list">
    <li class="products__list-item icecream-card">
      <h3 class="products__subtitle">ice cream</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <div class="products__overlay products__overlay--icecream" id="icecream-overlay">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae labore voluptatem eos esse,
        neque expedita doloribus velit quibusdam, ipsa beatae incidunt nihil impedit cupiditate
        nemo.
      </div>
      <button class="products__btn" type="button" id="btn-1">
        <svg class="products__icon" width="16px" height="12px" id="icon-1">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>

    <li class="products__list-item icecofee-card">
      <h3 class="products__subtitle">ice coffee</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <div class="products__overlay products__overlay--icecofee" id="icecofee-overlay">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae labore voluptatem eos esse,
        neque expedita doloribus velit quibusdam, ipsa beatae incidunt nihil impedit cupiditate
        nemo.
      </div>
      <button class="products__btn" type="button" id="btn-2">
        <svg class="products__icon" width="16px" height="12px" id="icon-2">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>

    <li class="products__list-item milkshakes-card">
      <h3 class="products__subtitle">milkshakes</h3>
      <p class="products__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <div class="products__overlay products__overlay--milkshakes" id="milkshakes-overlay">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae labore voluptatem eos esse,
        neque expedita doloribus velit quibusdam, ipsa beatae incidunt nihil impedit cupiditate
        nemo.
      </div>
      <button class="products__btn" type="button" id="btn-3">
        <svg class="products__icon" width="16px" height="12px" id="icon-3">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
