<section class="products container" id="products">
  <p class="products__label">100% natural</p>
  <h2 class="products__title">products</h2>

  <ul class="products__list">
    <li class="products__list-item icecream-card">
      <h3 class="products__subtitle">ice cream</h3>
      <p class="products__text">
        The Sundae Cone - Vanilla Sundae Cones are overflowing with creaminess and crunchability.
      </p>
      <div class="products__overlay products__overlay--icecream" id="icecream-overlay">
        <p class="products__description">
          The crispy sugar cone with creamy vanilla center creates a snacking experience – and
          that’s before you get to the unforgettable chocolatey nugget!
        </p>
        <p class="products__price">$5/per one</p>
      </div>
      <button
        class="products__btn"
        type="button"
        id="btn-1"
        aria-label="Переключатель всплывающего текста"
      >
        <svg class="products__icon" width="16px" height="12px" id="icon-1">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>

    <li class="products__list-item icecofee-card">
      <h3 class="products__subtitle">ice coffee</h3>
      <p class="products__text">
        Enjoy your favorite chilled coffee drink on the go thanks to Starbucks bottled coffee
        drinks.
      </p>
      <div class="products__overlay products__overlay--icecofee" id="icecofee-overlay">
        <p class="products__description">
          All made with real Starbucks coffee, you can enjoy the flavor . This delicious cold coffee
          treat is great straight from the bottle or enjoyed over ice.
        </p>
        <p class="products__price">$7.5/per one</p>
      </div>
      <button
        class="products__btn"
        type="button"
        id="btn-2"
        aria-label="Переключатель всплывающего текста"
      >
        <svg class="products__icon" width="16px" height="12px" id="icon-2">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>

    <li class="products__list-item milkshakes-card">
      <h3 class="products__subtitle">milkshakes</h3>
      <p class="products__text">
        Rich and velvety, this extra thick shake pops with chocolate and finishes silky smooth.
      </p>
      <div class="products__overlay products__overlay--milkshakes" id="milkshakes-overlay">
        <p class="products__description">
          Start each day strong with an Atkins Milk Chocolate Delight Nutritional Shake. These milk
          shakes have a creamy texture and rich flavor you'll love.
        </p>
        <p class="products__price">$10/per one</p>
      </div>
      <button
        class="products__btn"
        type="button"
        id="btn-3"
        aria-label="Переключатель всплывающего текста"
      >
        <svg class="products__icon" width="16px" height="12px" id="icon-3">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
