.hero-header {
  height: 502px;
  background-color: var(--hero-primary-background-color);
  overflow: hidden;
  @include for-tablet-up {
    height: 399px;
  }

  @include for-desktop-up {
    height: 665px;
  }
}

.hero-header__container {
  position: relative;

  @include for-desktop-up {
    width: 1280px;
  }
}

.top-panel {
  display: flex;
  align-items: center;
  padding-top: 6px;
  margin-bottom: 137px;

  @include for-tablet-up {
    padding-top: 37px;
    margin-bottom: 15px;
  }

  @include for-desktop-up {
    margin-bottom: 84px;
  }
}

.top-panel__icon-menu {
  stroke: var(--primary-section-title-color);
}

.top-panel__btn {
  margin-left: auto;
  padding: 0;
  background-color: transparent;

  @include for-tablet-up {
    margin-right: 30px;
    position: relative;
    z-index: 2;
  }

  @include for-desktop-up {
    display: none;
  }
}

.logo {
  @include for-desktop-up {
    position: absolute;
    top: 37px;
    left: 46px;
  }
}

.hero {
  position: relative;
  z-index: 3;
}

.hero__title {
  margin-bottom: 20px;

  font-size: 22px;
  line-height: 1.15;
  color: var(--secondary-text-color);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: left;

  @include for-desktop-up {
    font-size: 38px;
  }
}

.hero__title--accent {
  font-size: 34px;
  line-height: 0.96;
  color: var(--primary-section-title-color);

  @include for-desktop-up {
    margin-bottom: 25px;

    font-size: 58px;
  }
}

.hero__btn {
  display: flex;
  margin-bottom: 20px;
  @include for-desktop-up {
    margin-bottom: 56px;
  }
}

.hero__item {
  margin-right: 10px;
}

.hero__item--indent {
  margin-right: 0;
}

.hero__link {
  padding: 7px 15px;

  border-radius: 20px;
  font-family: var(--primary-font-family);
  font-size: 8px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-style: normal;

  background-color: var(--secondary-btn-background-color);
  color: var(--secondary-text-color);

  transition: get-transition-prop(color), get-transition-prop(background-color);

  &:hover,
  &:focus {
    background-color: var(--secondary-text-color);
    color: var(--secondary-btn-background-color);
  }

  @include for-desktop-up {
    padding: 12px 22px;

    font-size: 14px;
  }
}

.hero__link--color {
  background-color: var(--secondary-text-color);
  color: var(--secondary-btn-background-color);

  &:hover,
  &:focus {
    background-color: var(--secondary-btn-background-color);
    color: var(--secondary-text-color);
  }
}

.block__milk {
  @include for-desktop-up {
    margin-right: 30px;

    width: 188px;
    height: 191px;
  }
}

.decoration__ellipse {
  position: absolute;
  width: 346px;
  height: 344px;
  right: -62px;
  top: 83px;
  z-index: 1;

  border-radius: 50%;

  background: var(--hero-secondary-background-color);

  @media screen and (min-width: 480px) and (max-width: 767px) {
    right: 0;
  }

  @include for-tablet-up {
    width: 324px;
    height: 322px;
    left: 307px;
    top: 31px;
  }

  @include for-desktop-up {
    width: 538px;
    height: 538px;
    left: 475px;
    top: 52px;
  }
}

.decoration__icecream-cone {
  position: absolute;
  right: 35px;
  top: 92px;
  z-index: 2;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    right: 85px;
  }

  @include for-tablet-up {
    width: 143px;
    height: 336px;
    left: 378px;
    top: 63px;
  }

  @include for-desktop-up {
    width: 236px;
    height: 557px;
    left: 594px;
    top: 108px;
  }
}

.decoration__so-tasty {
  display: none;
  visibility: hidden;

  @include for-tablet-up {
    display: block;
    visibility: visible;
    position: absolute;
    left: 566px;
    top: 266px;
    z-index: 4;
  }

  @include for-desktop-up {
    width: 293px;
    height: 232px;
    left: 878px;
    top: 433px;
  }
}

.decoration__circle {
  display: none;

  @include for-tablet-up {
    display: block;

    position: absolute;
    width: 16px;
    height: 16px;
    left: 718px;
    top: 94px;
    z-index: 1;

    border-radius: 50%;

    background: var(--secondary-text-color);
  }

  @include for-desktop-up {
    width: 30px;
    height: 30px;
    left: 1153px;
    top: 156px;
  }
}

.decoration__number {
  display: none;

  @include for-tablet-up {
    display: block;

    position: absolute;
    width: 33px;
    height: 32px;
    left: 691px;
    top: 96px;
    z-index: 2;

    font-family: var(--secondary-font-family);
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--primary-section-title-color);
    background: hsla(345, 83%, 45%, 0);
  }

  @include for-desktop-up {
    left: 1111px;
    top: 160px;

    font-size: 46px;
  }
}

.decoration__text {
  display: none;

  @include for-tablet-up {
    display: block;
    z-index: 2;

    position: absolute;
    left: 704px;
    top: 128px;

    font-family: var(--primary-font-family);
    font-size: 8px;
    line-height: 1.25;

    color: var(--secondary-text-color);
    background: hsla(345, 83%, 45%, 0);
  }

  @include for-desktop-up {
    left: 1130px;
    top: 215px;

    font-size: 14px;
  }
}

.decoration__circle--position {
  top: 151px;

  @include for-desktop-up {
    top: 248px;
  }
}

.decoration__number--position {
  top: 152px;

  @include for-desktop-up {
    left: 1106px;
    top: 251px;
  }
}

.decoration__text--position {
  left: 683px;
  top: 184px;

  @include for-desktop-up {
    left: 1091px;
    top: 306px;
  }
}

.top-panel__btn-buy {
  display: none;

  @include for-tablet-up {
    @include flex-centered;

    padding: 11px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    background-color: var(--secondary-text-color);
    color: var(--secondary-btn-background-color);
    fill: currentColor;

    transition: get-transition-prop(color), get-transition-prop(background-color),
      get-transition-prop(fill);

    &:hover,
    &:focus {
      background-color: var(--secondary-btn-background-color);
      color: var(--secondary-text-color);
    }
  }

  @include for-desktop-up {
    margin-left: 110px;
  }
}

.top-panel__btn-buy--indent {
  margin-right: 12px;
}

.hero__description {
  max-width: 114px;
  margin-bottom: 7px;

  font-family: var(--primary-font-family);
  font-size: 8px;
  line-height: 1.5;

  color: var(--secondary-text-color);

  @include for-desktop-up {
    max-width: 200px;
    margin-bottom: 20px;

    font-size: 14px;
  }
}

.description__icon {
  fill: var(--secondary-btn-background-color);
  @include for-desktop-up {
    width: 16px;
    height: 12px;
  }
}

.hero__block {
  display: none;

  @include for-tablet-up {
    display: flex;
    align-items: flex-end;
  }

  @include for-desktop-up {
    position: absolute;
    left: -50px;
  }
}

.description__btn {
  width: 18px;
  height: 18px;
  padding: 0;

  @include flex-centered;
  fill: var(--secondary-btn-background-color);
  background-color: var(--primary-btn-background-color);

  @include for-desktop-up {
    width: 26px;
    height: 26px;
  }
  &:hover,
  &:focus {
    background-color: var(--secondary-btn-background-color);
    .description__icon {
      fill: var(--secondary-text-color);
    }
  }
}

.nav {
  display: none;

  @include for-desktop-up {
    display: block;
    margin-left: auto;
  }
}

.nav__list {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link {
  padding-top: 50px;
  padding-bottom: 50px;

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: var(--secondary-text-color);

  transition: color $animation-time $animation-function;

  &:hover,
  &:focus {
    color: var(--secondary-btn-background-color);
  }
}

.nav__link--current {
  color: var(--secondary-btn-background-color);
}
