.mobile-menu__container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e17992;
  overflow-y: scroll;
  padding-top: 60px;
  padding-bottom: 20px;
  transform: translateX(100%);
  transition: get-transition-prop(transform);

  &.is-open {
    transform: translateX(0);
  }

  @include for-tablet-up {
    width: 250px;
  }

  @include for-desktop-up {
    display: none;
  }
}

.mobile-menu__btn-buy {
  padding: 11px 45px;
  width: 100%;
  font-size: 16px;
  line-height: 1.31;
}

.mobile-menu__item {
  min-height: 42px;
  border-top: 1px solid #e18298;
  padding: 12px 20px 12px 20px;

  &:last-child {
    border-bottom: 1px solid #e18298;
  }
}

.mobile-menu__link {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: var(--secondary-text-color);

  &:hover {
    color: var(--secondary-btn-background-color);
  }
}

.mobile-menu__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 99;
}

.mobile-menu__btn-close {
  position: absolute;
  top: 23px;
  right: 28px;
  background-color: transparent;
  padding: 0;
  border: none;
}

.mobile-menu__icon-close {
  width: 14px;
  height: 14px;
  background-color: transparent;
  padding: 0;
  fill: #ffffff;
}

.mobile-menu__btn.is-open .mobile-menu__icon-menu {
  @include for-tablet-down {
    display: none;
  }
}

.mobile-menu__btn.is-open .mobile-menu__icon-close {
  display: block;
}

.mobile-menu__btn .mobile-menu__icon-close {
  display: none;
}

.mobile-menu__btn .mobile-menu__icon-menu {
  display: none;
}

.mobile-menu__container .mobile-menu__icon-close {
  display: block;
}

.button-container {
  padding: 0px 20px 20px 20px;
}

.menu-open .backdrop {
  @include for-tablet-up {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    pointer-events: auto;
  }

  @include for-desktop-up {
    display: none;
  }
}
